<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="/script.js" defer></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body style="width: 800px;">
    <div id="chat" style="margin-left: 30%;"> 
        <div id="chat-window">
            <div id="output">
                <div id="feedback"></div>
            </div>
            
            <div id="handle" style="border: 1px solid black; padding-left: 15px;font-weight: 900;"><%= user.username %></div>
            <input type="text" id="message" placeholder="Message">
            <button id="btn">Send</button>
        </div>
    </div>
</body>
</html>