<%- include('./components/header') %><br>

<a href=/question/<%= post.id %>>Back</a>

<label class="label-l">Edit Post</label>

<%- include('./components/feedForm.ejs') %>


<%- include('./components/footer.ejs') %>