* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color:orange;
    --secondary-color:#e76f51;
    /* #FED2C6; */

  }
  .App{
    /* margin-left: 200px;
    margin-top: 85px !important; */
    padding-left: 200px;
    padding-top: 60px !important;
  }
.h-nav{
  margin: 0 !important;
  height: 60px;
  box-shadow: 0 0 5px var(--secondary-color) !important;
  z-index: 1000 !important;
  /* position: sticky; */
}
.v-nav{
  width: 200px !important;
  margin: 0;
  padding: 10px;
  top: 60px !important;
  box-shadow: 0 0 5px var(--secondary-color) !important;
  /* z-index: 9; */
}

.logo8{
  width: 60px;
  padding: 5px;
  margin:0 70px;
  object-fit: cover;
}
.logo-container8{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 72.5px;
}
.logo-test{
  background: var(--secondary-color);
  border-radius: 50%;
  padding: 25px;
  position: relative;
  color: white;
  z-index: -1;
  transform-style: preserve-3d;
}
.logo-test::before{
  top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 1;
    font-size: 30px;
}
.ui.menu .item:before {
  width: 0 !important;
}
.search8{
  margin-left: 146px;
}
.search8 > input{
  border: 1px solid var(--secondary-color) !important;
}
.search8 > i{
  color: var(--secondary-color);
}
.sing-up{
  margin-right: 20px !important;
}
.btn8{
  background: var(--secondary-color) !important;
  border-radius: 30px !important;
}
.ui.menu .active.item{
  color: var(--secondary-color) !important;
}
/* .nav-bar {
    position: relative;
    box-shadow: 0 1px 10px rgb(23, 4, 133);
    padding: 10px 0;
    z-index: 1;
    background-color:whitesmoke;
  }
  .container {  
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    
  }
  .nav-bar .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-content: space-around;
    grid-gap: 2rem;
    align-items: center;
  }
  .nav-bar .container .logo {
    grid-row: span 2;
    height: 100px;
      width: 100px;
      border-radius: 50%;
  }
  
  .nav-bar .container .sub-menu {
    display: flex;
    justify-content: flex-end;
  }
  .nav-bar .container .sub-menu a {
    display: block;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  .nav-bar .container .main-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }.btn{
      border-radius: 20px;
      border: 2px solid ;
      padding:3px ;
      margin: 10px;
      background: rgb(224, 109, 64);

  }
   */